/*===== FIXED BACKGROUND IMG =====*/

.fixed-background {
    padding: 12rem 0;
    box-shadow: 0rem 0rem 1rem rgba(0, 0, 0, .25);
    }
    .fixed {
    background-image: url('../img/drumsfixed.jpg');
    position: fixed;
    opacity: 1;
    }