.locname .loc.school-woods
{
    margin-bottom: 15px;
    border-bottom: 1px solid #d7272c;

}

.locname .red-bottom
{
    border-bottom: 1px solid #d7272c;
    padding-bottom: 1rem;
    color: black;

}

.locname.school-choice a
{
    color: #d7272c;
}

.locname.school-choice p{
    text-align: center;
    margin-top: 1.5rem;
}